<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dário's Personal Site</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="static/angela.png" alt="angela profile picture"></td>
        <td><h1>Dário Botas</h1>
        <p><em>Software Engineer at <strong><a href="https://www.gmv.com/">GMV</a></strong>.</em></p>
        <p>I am a Software Tester. I ❤️ coffee, read and write (code or my preaching).</p></td>
      </tr>
    </table>
    <hr>
    <h3>Books and Teaching</h3>
    <ul>
      <li>The GTD productivity Method presentation</li>
      <li>ISTQB Foundation</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2017-2019</td>
          <td>COBOL Maintenance Core applications of AS400 Mainframe</td>
        </tr>
        <tr>
          <td>2019-2020</td>
          <td>ODI Maintenance of DataWarehouse ETL Process</td>
        </tr>
        <tr>
          <td>2020-2023</td>
          <td>Software Tester for Guidewire Applications and Security Software</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tr>
        <td>iOS Development</td>
        <td>⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Testing</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Python</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Productivity</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>GTD</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>