<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dário</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>I'm Dário</h1>
    <!--<div class="container">
      <div class="box">
        <div class="box__top">
          <div class="box__top--left">
            <div class="box__top--left--top"></div>
            <div class="box__top--left--bottom"></div>
          </div>
          <div class="box__top--right">
            <div class="box__top--right--top"></div>
            <div class="box__top--right--bottom"></div>
          </div>
        </div>
        <div class="box__bottom">
          <div class="box__bottom--left">
            <div class="box__bottom--left--top"></div>
            <div class="box__bottom--left--bottom"></div>
          </div>
          <div class="box__bottom--right">
            <div class="box__bottom--right--top"></div>
            <div class="box__bottom--right--bottom"></div>
          </div>
        </div>
      </div>
    </div>-->
  </body>
</html>